QMainWindow::separator {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

#Powerline QLabel{
	color: black;
	padding: 0 5px 0 5px;
	background-color: transparent;
	qproperty-alignment: AlignCenter;
}

#Powerline QLabel#Mode{
	color: white;
	background-color: green;
}

#Powerline QLabel#Page{
	color: white;
	background-color: green;
}

#DockWidget QWidget {
	border-width: 0px;
	background-color: transparent;
}

QListWidget::item:selected {
	color: white;
	background-color: green;
}

QListView::item:selected {
	color: white;
	background-color: green;
}

QTreeView::branch:selected {
	background-color: green;
}

QTreeView::item:selected {
	color: white;
	background-color: green;
}

QAbstractScrollArea {
	padding: 0 0 0 0;
	border-width: 0px;
}

#Statusbar QLineEdit#Edit{
	border-radius: 0px;
}

#SearchList QListView {
	background-color: red;
}

#ViewContainer QWidget:focus {
	border-color: red;
	border-width: 25px;
	border-style: solid;
}

#Input {
	color: white;
	font-size: 16px;
	border-radius: 15px;
	border-style: outset;
	padding: 15px 15px 15px 15px;
	background-color: rgba(0, 0, 0, .8); 
}

#InputLineEdit {
	color: black;
	background-color: white;
	border-color: green;
	border-width: 3px;
	border-radius: 15px;
	border-style: outset;
	padding: 0 0 0 10px;
}
