QWidget {
	font-size: 16px; 
}

QWidget[selected=true] QTextEdit {
	color: white;
}

QWidget[selected=true] QLabel {
	color: white;
}

QLineEdit {
	color: black;
	border-width: 0px;
	border-radius: 0px;
	background-color: white;
	border-color: transparent;
	background-color: transparent;
}

QMainWindow::separator {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

QListWidget::item:selected {
	color: white;
	background-color: green;
}

QDockWidget QWidget {
	border-width: 0px;
	background-color: transparent;
}

QDockWidget QLineEdit {
	padding: 2 5 2 5;
}

QListView::item:selected {
	color: white;
	background-color: green;
}

QTreeView::branch:selected {
	background-color: green;
}

QTreeView::item:selected {
	color: white;
	background-color: green;
}

QWidget#View {
	border-width: 4px; 
	border-style: solid;
	border-color: transparent;
}

QWidget#View:focus {
	border-color: green;
}

#Input {
	color: white;
	border-color: green;
	border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	padding: 15px 15px 15px 15px;
	background-color: rgba(0, 0, 0, .8); 
}


QToolBar {
	padding: 0 0 0 0;
	border-width: 0px;
}

QStatusBar {
	padding: 0 0 0 0;
	border-width: 0px;
}

#Powerline QLabel{
	color: black;
	padding: 0 5px 0 5px;
	background-color: transparent;
	qproperty-alignment: AlignCenter;
}

#Powerline QLabel#ModeName{
	color: white;
	background-color: green;
}

#Powerline QLabel#TypeName{
	color: green;
	background-color: transparent;
}

#Powerline QLabel#ViewName{
	color: green;
	background-color: transparent;
}

#Powerline QLabel#IndexName{
	color: white;
	background-color: green;
}

QLabel#CurrentTab{
	color: white;
	background-color: green;
}
